
body {
  text-align: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #B6A6CA;
}
button
{
  background-color: #A09ABC;
}

h2, th, h1{
  color: whitesmoke;
}
